<div class="card mt-5">
  <div class="card-header">
    
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>

      <footer class="blockquote-footer mt-2">{{user.username}}
        {{format_date created_at}}</footer>
    </blockquote>
    <div class="input-group mt-5" style="width:300px; ">
      <textarea
        class="form-control custom-control comment-text",
        id="text-comment"
        name="comment-text"
        placeholder="Add Comment here"
        rows="3"
        style="height: 50px;"
      ></textarea>
      <button
        type="submit"
        class="input-group-addon btn btn-primary post-comment-btn"
      >Post</button>
    </div>
  </div>
</div>


<script src="/Javascript/comment.js"></script>