

<p class="text-right text-white"><a href="/profile/createPost"><button class="btn btn-success mt-5 mr-5"  id="post-btn">+ Make New Post</button></p></a>
<a class="nav-item nav-link text-right mr-5" href="/signup" id="logout"><button href="/signup" class="btn-warning"id="logout">Log out</button></a>


<ul class="post-list">
  {{#each posts as |post|}}
  <li style="list-style: none;">
    {{> posts post }}
    
  </li>
  {{/each}}
</ul>
</div>

<script src="/Javascript/logout.js"></script>
<script src="Javascript/remove.js"></script>